<div >
<h4>Contact Us</h4>
<br>
<p><strong>Email: </strong>cafeteriaHouse@queries</p>
<br>
<p><strong> Phone Number: (+91)</strong> 7009283745</p>
<br>
<p><strong>Address: <strong> Jayanagar, Bengaluru , Karnataka</p>
<br>
</div>
